@use '../abstracts' as a;
.about{
  &__manage{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    &-head{
      font-size: 2.4rem;
      color: a.$darkBlue;
      margin: 3rem 0 1rem 0;
    }
    &-paragraph{
      color: a.$darkGrayishBlue;
      width: 300px;
      font-size: 14px;
      line-height: 1.6rem;
    }
  }
  &__track{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-card{
      display: flex;
      flex-direction: column;
      max-width: 375px;
      &-container{
        display: flex;
      }
      &__head{
        font-size: 0.9rem;
        background-color: a.$veryPaleRed;
        padding: 0.8rem 1rem;
        position: relative;
        width: 85%;
        align-self: flex-end;
        text-align: center;
        margin-left: 3rem;
        &-number{
          position: absolute;
          font-size: 1rem;
          background-color: a.$brightRed;
          border-radius: 50px;
          padding: 0.8rem 1.6rem;
          color: a.$veryPaleRed;
          font-weight: 700;
          z-index: 2;
          left: -20px;
          top: 0;
        }
      }
      &__paragraph{
        text-align: left;
        color: a.$darkGrayishBlue;
        font-size: 14px;
        line-height: 1.6rem;
        padding: 0.25rem 1rem 2rem;
      }
    }
  }
}

@media (min-width: a.$md){
  .about{
    &__manage{
      &-paragraph{
        width: 400px;
      }
    }
    &__track{
      &-card{
        max-width: 70%;
        &__head{
          background-color: transparent;
        }
        &__paragraph{
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: a.$lg){
  .about{
    display: flex;
    justify-content: space-between;
    position: relative;
    &__bgimg{
      background-image: url(./bg-tablet-pattern.svg);
      width: 100%;
      height: 800px;
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      top: 330px;
      right: 645px;
      background-position: left;
      z-index: -1;
    }
    &__manage{
      max-width: 35%;
      text-align: left;
      display: flex;
      &-head{
        font-size: 2.5rem;
        align-self: flex-start;
        max-width: 460px;
        margin: 0 0 0.5rem 0;
      }
      &-paragraph{
        text-align: left;
        align-self: flex-start;
        max-width: 350px;
        font-size: 16px;
        line-height: 26px;
      }
    }
    &__track{
      &-card{
        max-width: 480px;
        display: block;
        &__paragraph{
          text-align: left;
          font-size: 16px;
          line-height: 1.625rem;
          padding: 0.25rem 1rem 1.5rem;
        }
        &__head{
          margin: 0;
          text-align: left;
          &-number{
          left: -80px;
          }
        }
      }
    }
  }
}
@media (min-width: a.$xl){
  .about{
    &__manage{
      max-width: 60%;
    }
  }
}