@use '../abstracts' as a;

.footer{
  padding: 5rem 1rem;
  background-color: a.$veryDarkBlue;
  &__form{
    display: flex;
    justify-content: space-between;
    &-input{
      width: 100%;
      margin-right: 5px;
      border-radius: 50px;
      padding: 1rem;
      outline: none;
      &::placeholder{
        font-size: 14px;
        color: a.$darkGrayishBlue;
      }
    }
    &-btn{
      padding: 1rem 1.5rem;
    }
  }
  &__list{
    display: flex;
    margin-top: 20px;
    line-height: 2rem;
    color: a.$veryPaleRed;
    font-size: 14px;
    opacity: 0.9;
    justify-content: space-around;
    &-item{
      cursor: pointer;
      transition: color 0.3s ease;
      &:hover{
        color: a.$brightRed;
      }
    }
  }
  &__social{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    &-icon{
      object-fit: contain;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover{
        color: a.$brightRed;
      }
    }
  }
  &__logo{
    text-align: center;
    margin-top: 40px;
  }
  &__copyrights{
    color: a.$veryPaleRed;
    opacity: 0.5;
    text-align:center;
    margin-top: 40px;
    font-size: 12px;
  }
}
@media (min-width: a.$lg){
  .footer{
    padding: 3rem 0 1rem;
    .container{
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    &__logo{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      margin-top: 0;
      text-align: left;
    }
    &__social{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      width: 60%;
      height: 20px;
    }
    &__list{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 4;
      margin-top: 0;
    }
    &__form{
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    &__copyrights{
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      margin-top: 0;
    }
  }
}