@use '../abstracts' as a;

.testimonials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  padding: 2rem 0 0rem;
  &__head{
    font-size: 2.5rem;
    color: a.$darkBlue;
    text-align: center;
  }
  &__slider{
    padding: 4.25rem 0 1rem;
    display: flex;
    gap: 30px;
    width: 350px;
    // width: 540px;
    &-card{
      // min-width: 412px;
      // padding: 1rem 4rem;
      min-width: 325px;
      padding: 2rem 0.8rem;
      text-align: center;
      background-color: hsl(0, 0%, 98%);
      position: relative;
      transition: transform 0.7s ease;
      transform: translateX(calc(-100% + -30px));
      &__img{
        position: absolute;
        width: 75px;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &__head{
        margin: 20px;
        color: a.$darkBlue;
        font-size: 1rem;
      }
      &__quote{
        line-height: 26px;
        color: a.$darkGrayishBlue;
        margin: 0;
      }
    }
  }
  &__pagination{
    display: flex;
    justify-content: center;
    padding: 0;
    &-btn{
      display: inline-block;
      padding: 3px;
      margin: 2px;
      border: a.$brightRed 2px solid;
      border-radius: 100%;
      transition: background-color 0.3s ease;
      cursor: pointer;
      &:hover{
        background-color: a.$brightRed;
      }
      &__sel{
        background-color: a.$brightRed;
      }
    }
  }
  &__btn{
    margin: 2rem 0 auto;
  }
}
@media (min-width: a.$md){
  .testimonials{
    &__slider{
      width: 540px;
      &-card{
        min-width: 460px;
        padding: 2.5rem;
      }
    }
  }
}
@media (min-width: a.$lg){
  .testimonials{
    padding: 3.125rem 0 7rem;
    &__pagination{
      display: none;
    }
  }
}