@use '../abstracts' as a;
// buttons

.btn{
  background-color: a.$brightRed;
  border: none;
  outline: none;
  border-radius: 50px;
  color: a.$veryPaleRed;
  padding: 1rem 2rem;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  &:hover{
    opacity: 0.8;
  }
}

// overlay

.overlay{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg,rgba($color: #000000, $alpha: 0.01),rgba($color: #000000, $alpha: 0.5));
  z-index: 3;
  overflow: hidden;
  position: fixed;
}
.hidden{
  visibility: hidden;
  display: none;
}
.container{
  width: 100%;
  padding: 1rem 0;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: a.$sm){
  .container{
    max-width: 540px;
  }
}
@media (min-width: a.$md){
  .container{
    max-width: 720px;
  }
}
@media (min-width: a.$lg){
  .container{
    max-width: 960px;
  }
}
@media (min-width: a.$xl){
  .container{
    max-width: 1140px;
  }
}

